.navbar-content {
    width: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    border: 0px solid red;
    height: 100px;
    top: 0;
}
.navbar {
    border: 0px solid yellow;
}
.LogoImg {
    border: 0px solid yellow;
    padding: 0px;
}
.collapse a {
    color: black;
}
.collapse a:hover {
    text-decoration: none;
    color: white;
}
.navbar-nav {
    border: 0px solid red;
    margin: auto;
}
.navbar.navbar-expand-lg.navbar-light {
    background-color: white;
}
.dropdown-item.he:hover {
    background-color:   rgb(1, 183, 207);
}
.navbar-brand img {
    width: 150px;
    border: 0px solid green;
    border-radius: 10px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-links.color {
    color: white;
    display: block;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    border: 0px solid red;
    transition:color 0.3s ;
    
}

.nav-item {
    margin: 7px 10px;
    padding: 2px 5px;
    transition: background-color 0.3s;
}
.nav-item:hover {
    background-color: rgba(1, 183, 207, 0.486);
}
.nav-item:hover .nav-links.color {
    color: black;
}

.form-inline {
    margin: 10px;
}
.collapse.navbar-collapse {
    background-color:  white;
    border-radius: 5px;
    border: 0px solid red;
}
.midea ul {
    border: 0px solid red;
    margin: auto;
    padding-top: 15px;
}

.midea ul li {
    display: inline;
    margin: 5px;
    list-style: none;
    font: 2.5em sans-serif;
    padding: 10px;
    color: teal;
}