.navbar-content {
    width: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    border: 0px solid red;
    height: 100px;
    top: 0;
}
.navbar {
    border: 0px solid yellow;
}
.LogoImg {
    border: 0px solid yellow;
    padding: 0px;
}
.collapse .items {
    
    color: black;
    transition: color .4s;
}
.collapse .items:hover {
    text-decoration: none;
    color: white;

}
.midea {
    
    padding: 0px;
    border: 0px solid yellow;
}
.collapse .icon {
    color: rgb(1, 183, 207);
    transition: color .4s;
    
}
.collapse .icon i .icon-content{
    position: relative;
    padding-bottom: 5px;
    width: 30px;
    border: 0px solid red;
    margin-bottom: 10px;
    margin-left: -15px;
   
}
.collapse .icon:hover {
    color: rgb(2, 110, 124);
    
}
.navbar-nav {
    border: 0px solid red;
    margin: auto;
}
.navbar.navbar-expand-lg.navbar-light {
    background-color: white;
}
.collapse .items:hover .dropdown-item.he{
    background-color:  rgb(1, 183, 207);
}
.navbar-brand img {
    width: 150px;
    border: 0px solid green;
    border-radius: 10px;
}

.nav-item {
    border:0px solid red;
    margin: 20px 10px;
    padding: 2px 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}
.nav-item:hover {
    background-color:  rgb(1, 183, 207);
}


.form-inline {
    margin: 10px;
}
.collapse.navbar-collapse {
    background-color:  white;
    border-radius: 5px;
    border: 0px solid red;
}
.midea ul {
    border: 0px solid red;
    margin: auto;
    padding-top: 15px;
}

.midea ul li {
    display: inline;
    margin: 5px;
    list-style: none;
    font: 2.5em sans-serif;
    padding: 10px;
    color: teal;
}