.div{
    margin-top: 100px;
    background-color:yellow;
    color:rgb(73, 73, 73) ;
    background-color:rgba(255, 255, 255, 0.459) ;
    margin-top: 150px;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 500;
    color: rgb(41, 41, 41);
    text-align: left;
    box-shadow: yellow;
    box-shadow: rgb(207, 207, 207);
    background-color: rgba(0, 0, 0, 0.247);
    padding-top: 100px;
    text-transform: uppercase;
    font-weight: 500;
}

@media screen and (min-width:279px){
    border :0px solid red;
    
}
@media screen and (min-width:600px){
    border :0px solid black;
    
}
@media screen and (min-width:800px){
    border :0px solid yellow;
    
}
@media screen and (min-width:1100px){
    border :0px solid green;
   
}



<Profile_item>
<Span>Name</Span>
Yamin Zanoub
</Profile_item>
<Profile_item>
<Span>Birthday</Span>
06/09/1994
</Profile_item>
<Profile_item>
<Span>Address</Span>
kuala lumpor
</Profile_item>
<Profile_item>
<Span>Phone</Span>
0060189610861
</Profile_item>
<Profile_item>
<Span>Email</Span>
yaminzan@outlook.com
</Profile_item>
<Profile_item>
<GoMarkGithub></GoMarkGithub> 
<Span>GitHub</Span>
<Span_web>https://github.com/yaminzan9</Span_web>
</Profile_item>
<Profile_item>
<Span>arabic</Span>
<Div><Scour></Scour><Scour></Scour><Scour></Scour><Scour></Scour><Scour></Scour>
<Scour></Scour><Scour></Scour><Scour></Scour><Scour></Scour><Scour></Scour>
</Div>
<Span>english</Span>
<Div><Scour></Scour><Scour></Scour><Scour></Scour><Scour></Scour><Scour></Scour>
<Scour></Scour><Scour></Scour><Scour></Scour><Scour1></Scour1><Scour1></Scour1>
</Div>
<Span>malay</Span>
<Div><Scour></Scour><Scour></Scour><Scour1></Scour1><Scour1></Scour1><Scour1></Scour1>
<Scour1></Scour1><Scour1></Scour1><Scour1></Scour1><Scour1></Scour1><Scour1></Scour1>
</Div>
</Profile_item>